#hero__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.hero__text{
    padding: 0rem 1rem;
}

.hero__text > h1{
    line-height: 10px;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn__more, .register {
    padding: 0.8rem 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 1rem 1rem; 
    border-radius: 4px;
    font-weight: 600;
}

.learn__more{
    outline: 1px solid ;
    background-color: #F8F8F3;
}

.learn__more:hover{
    background: #1a1a1a;
    color: #F8F8F3;
}

.register{
    background: #1a1a1a;
    color: #F8F8F3;
}

.register:hover{
    outline: 1px solid ;
    background-color: #F8F8F3;
    color: #1a1a1a;
}

.hero__image{
    position: relative;
}

#hero-desktop{
    display: none;
}

.hero__image > img{
    position: relative;
    left: 10%; 
    z-index: -1;
}

/* Feature section */

.feature__copy{
    padding: 0rem 1rem;
}

.feature__copy > h1{
    line-height: 15px;
    font-size: 1.5rem;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
}

.feature > div > img {
    width: 100%;
    border-radius: 8px;
}

/* Shop section css */

.mobile__hidden{
    display: none;
}


#shop__section{
    margin-top: 5rem;
    padding: 3rem 1rem;
    background-color: #EFEEF0;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.products > div > img{
   width: 100%; 
}
.product__info{
    margin-top: -3rem;
    padding-left: 4rem;
    line-height: 10px;
 }

 .product__info > P {
    font-size: 1.2rem;
    font-weight: 400;
 }


/* Media Query */

@media only screen and (min-width:760px) {

    /* Hero section */

    #hero-mobile{
        display: none;
    }

    #hero__section{
        flex-direction: row;
    }

    #hero-desktop{
        display: block;
    }

    .hero__text{
        margin: 2rem 0;
        width: 50%;
    }

    .hero__image{
        width: 40%;
    }

    .hero__image > img{
        position: absolute;
        width: 90%;
    }
        
    /* Feature section css */

    #feature__section {
        position: relative;
        margin-top: 10rem;
    }

    .feature__copy{
        padding-top: 5rem;
    }

    .feature{
        flex-direction: row;
        gap: 5rem;
        padding: 4rem 2rem; 
    }

    .row-reverse{
        flex-direction: row-reverse;
    }

    .feature__img, .feature__writeup{
        width: 50%;
    }

    .feature__writeup{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* padding-top: 3rem; */
    }

    /* Shop section css */

    .desktop__hidden{
        display: none;
    }

    .products{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
    }

    .mobile__hidden{
        display: block;
    }

    .shop__header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5rem;
    }

    .shop__header > button{
        width: 30%;
    }

    .shop__header > .shop__writeup{
        width: 40%;
    }


}