#hero__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.hero__text{
    padding: 0rem 1rem;
}

.hero__text > h1{
    line-height: 10px;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn__more, .register {
    padding: 0.8rem 1.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 1rem 1rem; 
    border-radius: 4px;
    font-weight: 600;
}

.learn__more{
    outline: 1px solid ;
    background-color: #F8F8F3;
}

.learn__more:hover{
    background: #1a1a1a;
    color: #F8F8F3;
}

.register{
    background: #1a1a1a;
    color: #F8F8F3;
}

.register:hover{
    outline: 1px solid ;
    background-color: #F8F8F3;
    color: #1a1a1a;
}

.hero__image{
    position: relative;
}

#hero-desktop{
    display: none;
}

.hero__image > img{
    position: relative;
    left: 10%; 
    z-index: -1;
}

/* Feature section */

.feature__copy{
    padding: 0rem 1rem;
}

.feature__copy > h1{
    line-height: 15px;
    font-size: 1.5rem;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.feature > .feature__img > img {
    width:100%;
    border-radius: 8px;
}

/* Shop section css */

#shop__section{
    margin-top: 5rem;
    padding: 4rem 1rem;
    background-color: #EFEEF0;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.products > div > img{
   width: 100%; 
}
.product__info{
    margin-top: -3rem;
    padding-left: 4rem;
    line-height: 10px;
 }

 .product__info > P {
    font-size: 1.2rem;
    font-weight: 400;
 }

/* Membership section css */

#membership__section{
    padding: 4rem 0;
}

#membership__section > h1 {
    padding: 2rem 2rem 0 2rem;
}

.payments{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.disable{
    text-decoration: line-through;
    color: #929292;
}

.normal{
    background-color: #EFEEF0;
}

.dark{
    background-color:#181616;
    color:#F8F8F3;
}

.card{
    border: 1px solid  #EFEEF0;
    border-radius: 10px;
    padding: 2rem 0rem;
}

.card > .btn{
    display: flex;
    align-items: center;
}

.get__plan{
    border: 1px solid;
    padding: 0.8rem 4rem;
    border-radius: 5px;
    font-weight: 600;
}

.plan{
    line-height: 5px;
    padding: 1rem 2rem;
    font-weight: 600;
}

.plan > p{
    font-size: 0.8rem;
}

.offers > li{
    list-style: none;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 600;
}

/* CTA section css */

#cta__section{
    background-color: #EFEEF0;
    padding: 2rem 2rem 0rem 2rem;
}

/* Footer css */

#footer__section{
    background-color: #181616;
    color: #F8F8F3;
}

.footer__icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
    padding: 2rem 1rem;
}

.footer__icons > .icons > a{
    text-decoration: none;
    color: #F8F8F3;
    padding: 0rem 1rem;
}

.footer__icons > .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__icons > .logo > li{
    list-style: none;
}

.footer__icons > .logo > li > a{
    text-decoration: none;
    color:#F8F8F3;
    padding: 0rem 0rem 0rem 1rem;
}

.foot__info{
    padding: 0rem 1rem;
}

.foot__info > h1{
    font-size: 1rem;
    padding: 0rem 1rem;
}

.foot__info > ul >li {
    list-style: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.copyright{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

.copyright > p > a{
    color: #EFEEF0;
}



/* Media Query */

@media only screen and (min-width:760px) {

    /* Hero section */

    #hero-mobile{
        display: none;
    }

    #hero__section{
        flex-direction: row;
    }

    #hero-desktop{
        display: block;
    }

    .hero__text{
        margin: 2rem 0;
        width: 50%;
    }

    .hero__image{
        width: 40%;
    }

    .hero__image > img{
        position: absolute;
        width: 90%;
    }
        
    /* Feature section css */

    #feature__section {
        position: relative;
        margin-top: 10rem;
    }

    .feature__copy{
        padding-top: 5rem;
    }

    .feature{
        flex-direction: row;
        gap: 5rem;
        padding: 4rem 2rem; 
    }

    .feature > .feature__img > img {
        width: 90%;
    }

    .row-reverse{
        flex-direction: row-reverse;
    }

    .feature__img, .feature__writeup{
        width: 50%;
    }

    .feature__writeup{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* padding-top: 3rem; */
    }

    /* Shop section css */

    .products{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
    }

    .shop__header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5rem;
    }

    .shop__header > button{
        width: 30%;
    }

    .shop__header > .shop__writeup{
        width: 40%;
    }


    /* Membership section */

    .card{
        max-width: 30%;
    }

    /* CTA__section */

    #cta__section{
        position: relative;
        display: flex;
        margin: 10rem 0rem 0rem 0rem ;
    }

    .cta__writeup, .cta__img{
        width: 50%;
    }

    .cta__img > img{
       width: 100%;
       margin-top: -11rem;
    }

    /* Footer css */

    .footer__icons{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__icons > .logo{
        padding: 0rem 1rem;
    }

    .copyright{
        flex-direction: row;
    }

    .copyright > p {
        padding: 0rem 1rem;
    }

    .foot__info{
        width: 30%;
    }
}
