@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

body{
    background: #F8F8F3;
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

/* h1{
    font-family: 'Open Sans', sans-serif;
} */

button{
    cursor: pointer;
}

.mobile__hidden{
    display: none;
}

@media only screen and (min-width:760px) {
    .mobile__hidden{
        display: block;
    }  

    .desktop__hidden{
        display: none;
    }
}