@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

body{
    background: #F8F8F3;
    font-family: 'Open Sans', sans-serif;
    /* padding: 1rem 1.5rem; */
    /* width: 100%; */
    max-width: 1200px;
    margin: 0rem 1rem;
}

@media (max-width: 480px) {

}